main {
  padding-top: 100px;
}

.row {
  @include center(1030px);
}
    
.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.title-category {
  @include center(1000px);
  font-size: 40px;
  margin-top: 0;
  text-transform: uppercase;
  padding: 0 15px;
}

.box-item {
  flex: 1 0 300px;
  margin: 0 15px 50px;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 5px;
  min-height: 285px;
  transition: box-shadow .3s;
  position: relative;

  &:hover {
    box-shadow: 1px 2px 10px #eee;
  }
      
  a {
    text-decoration: none;
    &:hover {
      .box-item {
        box-shadow: 10px 10px 10px #eee;
      }
    }
  }

  .box-body {
    padding: 25px;
    time {
      font-size: 14px;
      color: #b2bac2;
    }
    h2 {
      margin: 5px 0 15px;
      font-size: 20px;
      @include main-font(800);
      color: $main;
    }
    p {
      margin: 0 0 20px;
      color: #576366;
      font-size: 14px;
      line-height: 22px;
    }
    .tags a {
      color: $main;
      padding: 5px 10px;
      border-radius: 3px;
      display: inline-block;
      margin: 0 0 5px;
      z-index: 50;
    }
  }
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  
  span {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #B31917;
    position: absolute;
    top: 19px; 
    right: -21px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      z-index: -1;
    }

    &:before {
      left: 0;
      border-left: 3px solid $main;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid $main;
    }

    &:after {
      right: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid $main;
      border-bottom: 3px solid transparent;
      border-top: 3px solid $main;
    }
  }
}
