$themes: (
  "post-css": #2DA0C3,
  "post-js": #F7DF1C,
  "post-html": #E54C20,
  "post-svg": #EFAA1C,
  "post-react": #61DAFB,
  "post-git": #F64D27,
  "post-dev": #637a91,
  "post-tools": #B31917,
  "post-resources": #FF4C89,
  "post-misc": #7AAB13,
);

@each $theme, $color in $themes {
  .#{$theme} {
    $darken-10: darken($color, 10%);
    $darken-15: darken($color, 15%);
    body {
      --theme-color: #{$color};
      --theme-darken-color-10: #{$darken-10};
      --theme-darken-color-15: #{$darken-15};
    }
          
    .box-body {
      h2 {
        color: $color;
      }
      
      .tags a {
        color: $color;
        border: 1px solid $color;
        &:hover {
          color: #fff;
          background: $color;
        }
      }
    }

    .ribbon span {
      background-color: $color;
      &:before {
        border-left: 3px solid darken($color, 15%);
        border-top: 3px solid darken($color, 15%);
      }
      &:after {
        border-right: 3px solid darken($color, 15%);
        border-top: 3px solid darken($color, 15%);
      }
    }
  }
}