// COLORS
$main: #005F97;
$main-darken-10: darken(#005F97, 10%);
$main-darken-15: darken(#005F97, 15%);
$sec: #FFFFFF;
$lightGray: #F2F2F2;
$texts: #333333;

// Resolution
$cut: 37.5rem;

// Sizes
$content-width: 800px;
$content-max-width: 90%;