{% include header-default.html %}

<header class="header-post" role="banner">
     <div class="content">
        {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <p itemprop="description" class="subtitle">{{ page.description }}</p>
        {% if page.date %}
            <span class="reading-time">{% include reading-time.html %}</span>
        {% endif %}
    </div>
</header>