<div class="search-wrapper" aria-hidden="true">
    <div class="search-form">
        <input type="text" class="search-field" placeholder="Search...">
        <button class="header-control close-search" aria-label="Close search input">
          <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>
        </button>
        <ul class="search-results search-list"></ul>
    </div>
</div>

<div id="fade" class="overlay"></div>

<aside id="sidebar" class="mobile-menu" aria-label="Mobile menu" aria-hidden="true">
  <button class="slideButton fade close header-control" aria-label="Close main menu">
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
  </button>
  <nav id="navigation">
    <h2>MENU</h2>
    <ul>
      {% for link in site.links %}
        <li><a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
  </nav>
</aside>